.cart{
    svg {
        width: 30px;
        fill: white;
    }
}
.cart-content{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #343a40;
    text-align: left;
    height: 100vh;
    white-space: nowrap;
    transition: width 1s;
    z-index: 9;
}